@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Metal+Mania&display=swap');
body {
	font-family: 'IM Fell English SC', sans-serif;
	background-color: #c1c2c2;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: #131515;
	font-weight: 500;
	font-size: 1.25rem;
}
.topics{
	margin-top: 100px !important;
}

main {
	flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo {
	font-family: 'Metal Mania', sans-serif;
}


/*---------------Navigation-----------*/

nav .brand-logo{
	margin-left: 10px;
	color: #fbfbfb;
}

nav i {
	font-size: 1rem;
}

.fa-bars {
	font-size: 1.5rem;
}

.dropdown-content {
	background-color: #ededed;
}

.dropdown-content li>a,
.dropdown-content li>span {
	color: #131515;
}

.select-wrapper input.select-dropdown {
	font-family: 'IM Fell English SC', sans-serif;
}

.dropdown-content li>span {
	color: #131515;
}

nav,
.page-footer {
	background-color: #131515;
	color: #ededed;
}

li>a {
	color: #ededed;
	font-size: 20px;
}


/*--------------Footer--------*/

.page-footer {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

footer>h5 {
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
}


/*----------Parallax Container------*/

.parallax-container {
	height: 70vh;
}

.homecard {
	background-color: rgba(251, 251, 251, 0.8) !important;
	padding: 10px;
	color: rgba(19, 21, 21);
	margin: 0;
}

.login,
.sign-up>.parallax-container {
	height: 60vh;
}


/*---------Buttons and Links------*/

button,
.register-btn,
.btn,
.article-btn,
.modal>a {
	background-color: #131515;
	color: #ededed;
	font-family: 'IM Fell English SC', sans-serif;
	font-size: 1.25rem !important;
	text-transform: none;
	margin: 1px;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
	background-color: #878888;
	color: #131515;
}

a:hover {
	color: #878888;
	background-color: #131515;
}


/*------Forms and cards------*/

form {
	background-color: #fbfbfb !important;
	padding: 20px !important;
}
.card, .card-panel{
	background-color: #fbfbfb;
}
label,
select,
option {
	color: #131515;
	font-size: 1rem;
	font-weight: 600;
}

.input-field {
	padding: 20px;
}

.input-field>label {
	color: #131515;
	font-size: 1rem;
}

/*.topic-card{
	margin-bottom: 18vh !important;
}*/


/*--------Article Dropdown Content-----*/

.article-head {
	margin-right: 5vw;
}

.article-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
}

.collapsible-body {
	background-color: #ededed;
	font-size: 1.25rem;
}


/*--Bootstrap inline list style Found on Stack Overflow--*/

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}


/*---End Credit---*/

li>a {
	color: #ededed;
	font-size: 20px;
}

/*----Back to Top Button ------------*/
/*----This Code was found on Codepen.io----*/

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#131515;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ededed;
}
#scroll:hover {
    background-color:#878888;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/*---------------Modals---------*/

#thanks,
.modal {
	font-size: 1.5rem;
	font-weight: 800;
}

.modal {
	text-align: center !important;
	background-color: #ededed;
	color: #131515;
}

.modal-footer {
	text-align: center !important;
	background-color: #ededed !important;
}


/*--------Further Reading Card-----*/

.reading {
	font-size: 1.25rem;
	line-height: 0;
}

.highlight {
	font-weight: 800;
}


/*--------------Pagination-----*/

.pagination li a {
	font-size: 1.5rem;
}

.pagination li.active {
	background-color: #878888 !important;
	color: #131515;
}

.pagination li.active a {
	color: #131515;
}

.pagination li a:hover {
	color: #ededed;
}

@media only screen and (min-width: 577px) and (max-width:992px) {
	.parallax-container {
		height: 450px;
	}
	.article-image {
		width: 80%;
	}
	.topic-card{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 576px) {
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
		height: auto !important;
	}
	/*-----------Navigation-------*/
	.sidenav {
		background-color: #ededed;
	}
	.sidenav li>a {
		color: #131515;
		font-size: 1.25rem;
		font-weight: 600;
	}
	/*----Parallax Container---*/
	.parallax-container {
		height: 250px;
	}
	.homecard {
		font-size: 1.5rem;
		padding: 10px !important;
	}
	.homecard>.card-content {
		padding: 10px !important;
	}
	.homecard-h4 {
		font-size: 1.5rem;
	}
	/*-----Buttons----*/
	button,
	.btn {
		font-size: 1.2rem !important;
		outline: 0;
		margin: 1px;
	}
	.contact-btn {
		width: 150px;
	}
	/*-----Reading---*/
	.reading{
		line-height: 1;
	}
	.contact-card {
		width: fit-content;
	}
	/*.topic-card{
		margin-bottom: 0vh !important;
	}*/
	/*---Article Dropdown Content---*/
	.collapsible-body {
		font-size: 1.35rem;
	}
	.article-image {
		width: 90%;
		height: auto;
	}
}