@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Metal+Mania&display=swap');

body{
    font-family: 'IM Fell English SC', sans-serif;
    background-color: #dedfdf;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
h1,
h2,
h3,
h4,
h5,
h6, .brand-logo{
    font-family: 'Metal Mania', sans-serif;
}
nav, .page-footer{
    background-color: #131515;
    color: #ededed;
}
.page-footer{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}


a:hover {
	color: #878888;
	background-color:#131515 ;
	
}
.hvr-rectangle-out:hover{
    background: rgba(19, 21, 21, 0.8 );
    
}
/*--------Found on Stack Overflow-------*/
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
li > a{
    color: #ededed ;
    font-size: 20px;
}
footer > h5{
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.input-field{
    padding: 20px;
}
.input-field > label{
    color: #131515;
    
    
}
button{
    background-color: #131515;
    color: #ededed;
}
form{
    background-color: #ededed;
    
    padding: 20px;
    
}