{% extends 'base.html' %}
{% block content %}
<!---------Articles Page Main Body-------------->
<main>
   <h3 class="center-align">{{ page_title }}</h3>
   <div class="container">
      <div class="row">
         <form action="{{ url_for('search') }}" method="POST" class="card-panel">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="row valign-wrapper center-align">
               <div class="input-field col s12 m8">
                  <input type="text" name="query" id="query" minlength="3" class="validate" required>
                  <label for="query">Search Articles</label>
               </div>
               <div class="col s12 m4">
                  <button type="submit" class=" btn text-shadow">
                     <i class="fas fa-search left"></i> Search
                  </button>
                  <a href="{{ url_for('articles') }}" class=" btn text-shadow">Reset</a>
               </div>
            </div>
         </form>
      </div>
   </div>
   {% if articles|length > 0 %}
   <div class="container">
      <ul class="collapsible ">
         {% for article in articles %}
         <li>
            <!----------Article Title----------->
            <div class="collapsible-header center-align">
               <div class="row ">
                  <ul class="list-inline">
                     <li>
                        <h4 class="article-head"> {{ article.article_name }}</h4>
                     </li>
                     <!-----------Edit/Delete Buttons--------->
                     {% if (session.user|lower == article.created_by|lower) or (session.user|lower == "admin") %}
                     <li><a class="article-btn btn  " href="{{ url_for('edit_article',article_id=article._id) }}">Edit
                           Article</a>
                     </li>
                     <li><a class="article-btn btn modal-trigger" href="#delete-modal-{{ article._id }}">Delete
                           Article</a>
                        <!---------Delete Modal------------>
                        <div id="delete-modal-{{article._id}}" class="modal">
                           <div class="modal-content">
                              <h4>Delete Article?</h4>
                              <p>Are you sure you want to delete this article?</p>
                           </div>
                           <div class="modal-footer">
                              <a href="{{ url_for('delete_article', article_id=article._id) }}"
                                 class="modal-close btn">Delete</a>
                              <a href="{{ url_for('articles') }}" class="modal-close  btn">Cancel</a>
                           </div>
                        </div>
                     </li>
                     {% endif %}
                  </ul>
               </div>
            </div>
            <!----------Article Body---------->
            <div class="collapsible-body">
               {% if article.image_url %}
               <img src="{{ article.image_url }}" width="400" height="400" class="article-image"><br>
               {% endif %}
               {{ article.article_article }}<br>
               {{ article.location_name }}<br>
               {{ article.created_by }}<br>
               {{ article.date_added }}
            </div>
         </li>
         {% endfor %}
      </ul>
   </div>
   {% else %}
   <h3 class="center-align">No Results Found</h3>
   {% endif %}
   <div class="container">
      <div class="card-panel small center-align">
         {{ pagination.links }}
      </div>
   </div>
</main>
{% endblock %}