{% extends 'base.html' %}
{% block content %} 


<main>
	<div class="container">
	<div class = "row">
		<h4 class="center-align">Log In</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method="POST" action="{{ url_for('login') }}" >
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			{{render_field(form.username)}}
			{{ render_field(form.password) }}
		
			<button type="submit" class="center-align">Login</button>
		</form>
		
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
	</div>
	</div>

</main>

{% endblock %}