{% extends 'base.html' %}
{% block content %} 
<main>
    <div class="parallax-container">
		<div class="parallax"><img src="{{ url_for('static', filename='images/childrenoflir.jpg') }}"></div>
	  </div>
    <div class="container valign-wrapper">
        <div class="row s12  ">
            <div class=" col  ">
                <div class="card-panel">

                    <h3> {{ username }}'s Profile</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
		<div class="parallax"><img src="{{ url_for('static', filename='images/banshee3.jpg') }}"></div>
	  </div>
    </main>



{% endblock %}