{% extends 'base.html' %}
{% block content %} 
<!-----------Registration Page Main Body--------->
<main class="sign-up">
	<!--Parallax Container-->
   <div class="parallax-container">
      <div class="parallax">
         <img src="{{ url_for('static', filename='images/childrenoflir.jpg') }}" alt="childrenoflir">
      </div>
   </div>
   <!-------Heading-------->
   <div class="container">
   <div class = "row">
      <h4 class="center-align">Register</h4>
      <br>
	  <!---------Registration Form--------->
      {% from "_formhelpers.html" import render_field %}
      <form method="POST" action="{{ url_for('registration') }}" class="card-panel s8 offset-s2">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm)}}
         
         <p class="center-align "><input type=submit class="register-btn" value=Register></p>
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong>{{error}}</p>
      {% endif %}
   </div>
   </div>
   <!-------Parallax Container------->
   <div class="parallax-container">
      <div class="parallax">
         <img src="{{ url_for('static', filename='images/banshee3.jpg') }}" alt="banshee">
      </div>
   </div>
</main>
{% endblock %}