{% extends 'base.html' %}
{% block content %}

<h4 class="center-align">Edit topics</h4>

<div class="row">
    {% for topic in topics %}
    <div class="col s12 m3">
      <div class="card ">
        <div class="card-content center-align ">
          <span class="card-title">{{ topic.topic_name }}</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="col s6 card-action">
          {% if topic.article_list|length > 0 %}
              <a href="{{ url_for('filter_topics', topic_id=topic._id) }}"
              class="btn" aria-label="view all {{topic}} articles button">
                  View {{ topic.article_list|count }}
              </a>
          {% else %}
              <a href="#" class="btn disabled" aria-label="no activities available for {{topic}}">View ({{ topic.article|count }})</a>
          {% endif %}
      </div>
        {% if session.user|lower == "admin" %}
        <div class="card-action center-align">
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
